doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(type="text/css" rel="stylesheet" href="/assets/font/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css")
    link(type="text/css" rel="stylesheet" href="/assets/dist/mtbx.css")

    title Matchbox Lab

  body
    .head-bar
      span(class="title") Matchbox
      span(class="sub-title") Lab
      a(class="hiring-link" href="/hiring") We are hiring

    .content
      .col-left
        .container
          .main-title Design, develop and deliver
          .desc We are pursuing to build an agile open source development team and community to explore future 🍿.

          .img-box
            img(src="/assets/imgs/mainpageimg1.png")

      .col-right
        .container
          .item-box
            .back-box
            .col-icon
              svg(class="polygon" viewBox="0 0 40 40" preserveAspectRatio="xMidYMid meet")
                polygon(points="18.75,1.875 1.875,14.625 7.5,37.125 30,37.125 35.625,14.625")
            .col-content
              .title Scrum Training
              .title-desc Scrum is an iterative and incremental agile software development framework for managing product development. 

          .item-box
            .back-box
            .col-icon
              svg(class="square")
                rect(height="26" width="26" viewBox="0 0 100 100")
            .col-content
              .title Network Service Consulting
              .title-desc Network is a vital infrastructure for global world. We provide assistance tools and consulting services to build up...

          .item-box
            .back-box
            .col-icon
              svg(class="circle")
                circle(cx="13" cy="13" r="11" viewBox="0 0 100 100")
            .col-content
              .title Miscellaneous
              .title-desc We are passionate to explore cutting-edge technology to create prototype projects for fun.

          .item-box
            .back-box
            .col-icon
              svg(class="triangle")
                polygon(points="12,1 1,25 25,25" viewBox="0 0 100 100")
            .col-content
              .title Dorry Platform
              .title-desc Dorry is a professional enterprise platform, continually delivering secure enterprise services based on the leading technology...

    .foot-bar
      span(class="foot-txt-box") © 2017-2018 Copyright Matchbox Lab
      span |
      span(class="foot-txt-box") Nanjing, Jangsu, China
      span |
      span(class="foot-txt-box") info@machbox.lab
      span |
      span(class="foot-txt-box") 025-32478190
