include _mixins

doctype html
html
  head
    include parts/head.pug  

    title Matchbox Lab

  body
    include parts/header-bar.pug

    .content
      .col-left
        .container
          .main-title Design, develop and deliver
          .desc We are pursuing to build an agile open source development team and community to explore the future.

          .img-box
            img(src="/assets/imgs/image-home.svg")

      .col-right
        ul(class="main-menu-list mdc-list mdc-list--two-line")
          +MainMenuBox('polygon', 'polygon', {points: '18.75,1.875 1.875,14.625 7.5,37.125 30,37.125 35.625,14.625'}, 'Network Services', 'Network is a vital infrastructure for global world. We provide assistance tools and consulting services to bootstrap the network for your working environment.', '/network-service')
          +MainMenuBox('rect', 'square', {'height': 39, 'width': 39, 'x': 0.5, 'y': 0.5, 'rx': 8}, 'Application Market', 'IT service is fundamental facility for every enterprise. We provide user friendly and robust IT applications for your enterprise.', '/application-market')
          +MainMenuBox('circle', 'circle', {'cx': 20, 'cy': 20, 'r': 18}, 'Tool Suite', 'We provide well designed framework for IT administrator as Swiss Army knife to build their own services.', '/tool-suite')
          +MainMenuBox('polygon', 'triangle', {points: '19,1 1,38 38,38'}, 'Technical Tutorial', 'We provide both cutting-edge and fundamental technical tutorial, such as networking, virtualization.', '/technical-tutorial')

    include ./parts/footer.pug

