mixin menuBox(svgTag, svgClassTag, svgAttr, title, desc)
  .item-box
    .back-box
    .col-icon
      svg(class=svgClassTag viewBox="0 0 40 40" preserveAspectRatio="xMidYMid meet")
        #{svgTag}()&attributes(svgAttr)
    .col-content
      .title= title
      .title-desc= desc



doctype html
html
  head
    include parts/head.pug  

    title Matchbox Lab

  body
    include parts/header-bar.pug

    .content
      .col-left
        .container
          .main-title Design, develop and deliver
          .desc We are pursuing to build an agile open source development team and community to explore future 🍿.

          .img-box
            img(src="/assets/imgs/mainpageimg1.png")

      .col-right
        .container
          +menuBox('polygon', 'polygon', {points: '18.75,1.875 1.875,14.625 7.5,37.125 30,37.125 35.625,14.625'}, 'Scrum Training', 'Scrum is an iterative and incremental agile software development framework for managing product development.')

          .item-box
            .back-box
            .col-icon
              svg(class="square")
                rect(height="26" width="26" viewBox="0 0 100 100")
            .col-content
              .title Network Service Consulting
              .title-desc Network is a vital infrastructure for global world. We provide assistance tools and consulting services to build up...

          .item-box
            .back-box
            .col-icon
              svg(class="circle")
                circle(cx="13" cy="13" r="11" viewBox="0 0 100 100")
            .col-content
              .title Miscellaneous
              .title-desc We are passionate to explore cutting-edge technology to create prototype projects for fun.

          .item-box
            .back-box
            .col-icon
              svg(class="triangle")
                polygon(points="12,1 1,25 25,25" viewBox="0 0 100 100")
            .col-content
              .title Dorry Platform
              .title-desc Dorry is a professional enterprise platform, continually delivering secure enterprise services based on the leading technology...

    include ./parts/footer.pug

