%head-space {
    margin: 0;
    padding: 5px 30px 5px 30px;
}

%sidebar-space {
    flex-basis: $sidebar-pa;
    flex-shrink: 0;
    flex-grow: 0;

    min-width: $sidebar-min-width;
    max-width: $sidebar-max-width;
    width: $sidebar-pa;
}

%git-button {
    @include mdc-button-ink-color($mdc-theme-on-primary);
    @include mdc-button-container-fill-color($mdc-theme-secondary);
    @include mdc-button-corner-radius($button-radius);

    opacity: 0.8;
    text-transform: none;
}

%git-card {
    @include mdc-card-outline($card-outline);
    @include mdc-card-corner-radius($card-radius);

    .card-instructions {
        .title {
            @include mdc-typography(subtitle1);

            color: $mdc-theme-on-surface; 
            opacity: 0.7;
            font-weight: bold;
        }

        .desc {
            @include mdc-typography(body2);
            color: $mdc-theme-on-surface; 
            opacity: 0.5;
        }
    }

    .mdc-card__actions {
        margin-top: 25px;
        padding: 0;

        .mdc-button {
            @extend %git-button;
            margin-right: 10px;
        }

        .mdc-button:hover {
            box-shadow: 0 4px 6px 0 #000000;
            opacity: 1 !important;
        }
    }
}

body {
    color: $mdc-theme-on-primary;
    background-color: $mdc-theme-background;
}

a {
    align-items: center;
    display: inherit;
    text-decoration: none;
}

.icon-italic {
    font-style: italic; 
}

.cursor-pointer {
    cursor: pointer;
}

.main-menu-list {
    .mdc-list-item {
        background-color: $mdc-theme-secondary;
        height: auto;
        margin-bottom: 10px;
        padding: 22px 36px;

        .mdc-list-item__graphic {
            svg {
                stroke-width: 2px;
                fill: transparent;
                width: 100%;
            }
        }

        .mdc-list-item__text {
            @include mdc-typography(subtitle1); 
            color: $mdc-theme-on-surface; 

            font-family: Roboto-Medium;

            .mdc-list-item__secondary-text {
                @include mdc-typography(body2); 

                margin-top: 10px;
                opacity: 0.66;
                white-space: pre-line;
            }
        }
    }

    .mdc-list-item:hover {
        background-color: rgba($mdc-theme-primary, 0.08);
        box-shadow: 0 4px 6px 0 #000000;
    }
}

.mdc-card:hover {
    .card-instructions {
        .title {
            opacity: 1 !important;
        }

        .desc {
            opacity: 0.7 !important;
        }
    }
}


