$back-arrow-margin-right: 15px;

%foot-style {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    opacity: 0.6;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: $mdc-theme-on-primary;
    text-align: left;
    line-height: 20px;
}

.foot-bar {
    @extend %foot-style;

    padding: 25px 30px 25px 30px; 

    .foot-txt-box {
        padding: 0 16px 0 16px;
    }
}

.foot-bar-sub {
    @extend %foot-style;
    position: relative;
    margin-top: 66px;

    .foot-txt-box {
        padding: 0 16px 0 16px;
    }
}
