.head-bar {
    @extend %head-space;

    align-items: center;
    background-color: #191c20;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 66px;

    z-index: 100;

    a {
        align-items: baseline;
    }

    .title {
        color: #FFFFFF;
        font-family: Roboto-Bold;
        font-size: 24px;
        text-align: left;
    }

    .sub-title {
        color: #FFFFFF;
        font-family: Roboto-Regular;
        font-size: 18px;
        margin-left: 15px;
        text-align: left;
    }

    .hiring-link {
        align-self: center;
        color: rgba(255, 255, 255, 0.8);
        font-family: Roboto-Bold;
        font-size: 14px;
        margin-left: auto;
        text-align: right;
    }

    .hiring-link:hover {
        color: rgb(255, 255, 255)
    }

    .menu {
        display: none;
        margin-right: 20px;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .head-bar {
       .menu {
           display: inline-block;
       }
   }
}
