.body-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    
    .side-bar {
        @extend %sidebar-space;
        flex-grow: 1;
        padding: 30px;

        .menu-list {
            margin: 0;
            padding: 0;
            width: 100%;

            .menu-item {
                padding: 0;

                a {
                    @include mdc-typography(subtitle2);

                    opacity: 0.5;
                    color: $mdc-theme-on-secondary;

                    .item-icon {
                        svg {
                            fill: transparent;
                            opacity: 0.5;
                            stroke: $mdc-theme-on-secondary;
                            stroke-width: 4px;
                            width: 80%;
                        }
                    }

                    .item-text {
                        align-items: center;
                        display: flex;
                        white-space: pre-line;
                    }
                }
            }

        }

        .menu-item.mdc-list-item--activated {
            a {
                color: $sidebar-active-color !important;
                opacity: 1 !important;

                svg {
                    stroke: $sidebar-active-color !important;
                    opacity: 1 !important;
                }
            }

        }

        .menu-item:hover {
            a {
                color: $sidebar-active-color !important;
                opacity: 1 !important;

                svg {
                    stroke: $sidebar-active-color !important;
                    opacity: 1 !important;
                }
            }
        }

    }

    .page-content {
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 30px 5% 30px 5%;

        .title-wrapper {
            margin-bottom: 36px;

            .title, .sm-title {
                color: $mdc-theme-on-secondary;
                opacity: 0.9;
            }

            .title {
                @include mdc-typography(headline6);
            }

            .sm-title {
                @include mdc-typography(subtitle2);
            }

            .desc {
                @include mdc-typography(body2);

                color: $mdc-theme-on-secondary;
                opacity: 0.7;
            }
        }        

        .card-wrapper {
            .mdc-card {
                @extend %git-card;

                margin-bottom: 20px;
                padding: 25px 30px;
            }
        }

        .sm-card-wrapper {
            margin-bottom: 95px;
            padding: 20px 0;

            .mdc-layout-grid__inner {
                grid-gap: 15px;
            }

            a {
                display: block;
                height: 100%;
            }

            .mdc-card {
                @extend %git-card;

                height: 100%;
                padding: 16px 31px;
            }
        }
    }
}
