$sidebar-width: 270px;

.body-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;

    %sidebar-style {
        flex-grow: 1;
        padding: 30px;
        position: fixed;
        top: 66px;
        bottom: 0;
        width: $sidebar-width;

        .menu-list {
            margin: 0;
            padding: 0;
            width: 100%;

            .menu-item {
                padding: 0;

                a {
                    @include mdc-typography(subtitle2);

                    opacity: 0.5;
                    color: $mdc-theme-on-secondary;

                    .item-icon {
                        svg {
                            fill: transparent;
                            opacity: 0.5;
                            stroke: $mdc-theme-on-secondary;
                            stroke-width: 4px;
                            width: 80%;
                        }
                    }

                    .item-text {
                        align-items: center;
                        display: flex;
                        white-space: pre-line;
                    }
                }
            }

        }

        .menu-item.mdc-list-item--activated {
            a {
                color: $sidebar-active-color !important;
                opacity: 1 !important;

                svg {
                    stroke: $sidebar-active-color !important;
                    opacity: 1 !important;
                }
            }

        }

        .menu-item:hover {
            a {
                color: $sidebar-active-color !important;
                opacity: 1 !important;

                svg {
                    stroke: $sidebar-active-color !important;
                    opacity: 1 !important;
                }
            }
        }

        .foot {
            @extend %sidebar-space;
            flex-basis: 20%;
            flex-grow: 1;
            flex-shrink: 0;

            display: flex;
            align-items: center;
            bottom: 0;
            justify-content: center;
            position: absolute;
            margin-bottom: 26px;

            a:hover{
                .icon {
                    margin-right: $back-arrow-margin-right;
                    opacity: 1;
                }
            }

            a {
                @include mdc-typography(subtitle2);

                color: $mdc-theme-on-primary;

                .icon {
                    @include transition(mdc-animation-enter(margin, 1000ms));

                    margin-right: 0;
                    opacity: 0;
                }
            }
        }
    }
    
    .side-bar-drawerable {
        @extend %sidebar-space;
        @extend %sidebar-style;

        display: none;
    }

    .side-bar {
        @extend %sidebar-space;
        @extend %sidebar-style;
    }

    .page-content {
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 30px 5% 30px 5%;
        position: relative;
        margin-left: $sidebar-width;
        margin-top: 66px;

        .title-wrapper {
            margin-bottom: 36px;

            .title, .sm-title {
                color: $mdc-theme-on-secondary;
                opacity: 0.9;
            }

            .title {
                @include mdc-typography(headline6);
            }

            .sm-title {
                @include mdc-typography(subtitle2);
            }

            .desc {
                @include mdc-typography(body2);

                color: $mdc-theme-on-secondary;
                opacity: 0.7;
            }
        }        

        .mdc-card {
            @extend %git-card;

            margin-bottom: 20px;
            padding: 25px 30px;
        }

        .sm-card-wrapper {
            margin-bottom: 95px;
            padding: 20px 0;

            .mdc-layout-grid__inner {
                grid-gap: 15px;
            }

            .mdc-card {
                margin-bottom: 0;
            }

           // a {
           //     display: block;
           //     height: 100%;
           // }

           // .mdc-card {
           //     @extend %git-card;

           //     height: 100%;
           //     padding: 16px 31px;
           // }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .side-bar {
        display: none !important;
    }

    .side-bar-drawerable {
        display: block !important;
    }

    .page-content {
        margin-left: 0 !important;
    }
}

@media only screen and (max-height: 360px) {
    .foot {
        margin-top: 20px !important;
        position: relative !important;
    }
}
