$mdc-theme-background: #191c20;
$mdc-theme-primary: $mdc-theme-background; 
$mdc-theme-secondary: rgba(255,255,255,0.06); 
$mdc-theme-surface: $mdc-theme-background;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-on-secondary: #FFFFFF;
$mdc-theme-on-surface: #FFFFFF;

$main-col-min-width: 350px;

$card-outline: rgba(255,255,255,0.08);
$card-radius: 2px;

$button-radius: 2px;

$sidebar-pa: 20%;
$sidebar-max-width: 300px;
$sidebar-min-width: 200px;
$sidebar-active-color: #37B877;

