$back-arrow-margin-right: 15px;

.foot-bar {
    align-items: center;
    display: flex;
    justify-content: center;

    opacity: 0.6;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: $mdc-theme-on-primary;
    text-align: left;
    line-height: 20px;

    padding: 25px 30px 25px 30px; 

    .foot-txt-box {
        padding: 0 16px 0 16px;
    }
}

.foot-wrapper {
    display: flex;

    .side-bar {
        @extend %sidebar-space;
        display: flex;
        align-items: center;
        justify-content: center;

        a:hover{
            .icon {
                margin-right: $back-arrow-margin-right;
                opacity: 1;
            }
        }

        a {
            @include mdc-typography(subtitle2);

            color: $mdc-theme-on-primary;

            .icon {
                margin-right: 0;
                opacity: 0;
                transition: mdc-animation-enter(margin, 1000ms);
            }
        }
    }

    .copyright-content {
        width: 100%;
    }
}

