.foot-bar {
    align-items: center;
    display: flex;
    justify-content: center;

    opacity: 0.6;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    line-height: 20px;

    padding: 25px 30px 25px 30px; 

    .foot-txt-box {
        padding: 0 16px 0 16px;
    }
}


