.head-bar {
    @extend %head-space;

    align-items: baseline;
    display: flex;

    .title {
        color: #FFFFFF;
        font-family: Roboto-Bold;
        font-size: 24px;
        text-align: left;
    }

    .sub-title {
        color: #FFFFFF;
        font-family: Roboto-Regular;
        font-size: 18px;
        margin-left: 15px;
        text-align: left;
    }

    .hiring-link {
        align-self: center;
        color: #FFFFFF;
        font-family: Roboto-Bold;
        font-size: 14px;
        margin-left: auto;
        text-align: right;
    }
}

