.foot-bar
  span(class="foot-txt-box") © 2017-2018 Copyright Matchbox Lab
  span |
  span(class="foot-txt-box") Nanjing, Jangsu, China
  span |
  span(class="foot-txt-box") info@machbox.lab
  span |
  span(class="foot-txt-box") 025-32478190
