.foot-wrapper
  .side-bar

    a(href="/") 
      .icon
        i(class="fas fa-arrow-left")
    
      | Back to home

  .copyright-content
    .foot-bar
      span(class="foot-txt-box") © 2017-2018 Copyright Matchbox Lab
      span |
      span(class="foot-txt-box") Nanjing, Jangsu, China
      span |
      span(class="foot-txt-box") info@machbox.lab
      span |
      span(class="foot-txt-box") 025-32478190

