include ../_mixins

.title-wrapper
  .title Miscellaneous
  .desc Network is a vital infrastructure for global world. We provide assistance tools and consulting services to build up enterprises network infrastrcture. 

.sm-card-wrapper(class="mdc-layout-grid")
  .mdc-layout-grid__inner
    +MiscellaneousItem('net-diagnose', 'dns diagnose', 'url1', 'url2')
    +MiscellaneousItem('holograhics', 'Tool to generate holographics video', 'url1', 'url2')
    +MiscellaneousItem('business-card', 'App to customerize your own business card', 'url1', 'url2')
    +MiscellaneousItem('remote-ubuntu-updater', 'Update and upgrade the ubuntu system remotely', 'url1', 'url2')
    +MiscellaneousItem('community-doc-template', 'Documentation template for open source community', 'url1', 'url2')
    +MiscellaneousItem('de-ploy', 'Create a general framework to deploy APP', 'url1', 'url2')
    +MiscellaneousItem('network-status', 'Retrieve the general network status', 'url1', 'url2')
    +MiscellaneousItem('network-analysis', 'network analysis script on ubuntu 16.04', 'url1', 'url2')


