include ../_mixins

.page-content
  .title-wrapper
    .title Miscellaneous
    .desc Network is a vital infrastructure for global world. We provide assistance tools and consulting services to build up enterprises network infrastrcture. 

  .sm-card-wrapper(class="mdc-layout-grid")
    .mdc-layout-grid__inner
      +MiscellaneousItem('net-diagnose', 'dns diagnose')
      +MiscellaneousItem('holograhics', 'Tool to generate holographics video')
      +MiscellaneousItem('business-card', 'App to customerize your own business card')
      +MiscellaneousItem('remote-ubuntu-updater', 'Update and upgrade the ubuntu system remotely')
      +MiscellaneousItem('community-doc-template', 'Documentation template for open source community')
      +MiscellaneousItem('de-ploy', 'Create a general framework to deploy APP')
      +MiscellaneousItem('network-status', 'Retrieve the general network status')
      +MiscellaneousItem('network-analysis', 'network analysis script on ubuntu 16.04')


