include ../_mixins

.page-content
  .title-wrapper
    .title Network Service Consulting
    .desc Network is a vital infrastructure for global world. We provide assistance tools and consulting services to build up enterprises network infrastrcture.

  .card-wrapper
    +NSProjectCard('Network 101', 'This tutorial guides you to set up the network facilities and services by providing documentation and project code.')
    +NSProjectCard('TCP/IP Volume 1: Practice', 'Referring to the classic network bible, we design a serie of experiments to demonstrate the concept of TCP/IP protocol stack, from which you would obtain the deep understanding of modern network.')
    +NSProjectCard('Community Router (rpi, x86 router)', 'We provide the deployment utilities, debug tools, network analyzers to create and customize your own router. It is supported both arm and x86 architect.')

