mixin menuItem(svgShape, svgAttr, txt, hrefCont)
  li(class="menu-item mdc-list-item")
    a(href=hrefCont)
      .item-icon(class="mdc-list-item__graphic")
        svg(class="polygon" viewBox="0 0 44 42" preserveAspectRatio="xMidYMid meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          #{svgShape}()&attributes(svgAttr)

      .item-text(class="mdc-list-item__text")= txt

.side-bar
   .menu-list-wrapper
     ul(class="menu-list mdc-list--avatar")
       +menuItem('polygon', {'points': "22.0081142 1 43.0373586 16.2786405 35.004902 41 9.01132631 41 0.978869674 16.2786405"}, 'Scrum Training', '/scrum-training')
       +menuItem('rect', {'height': 39, 'width': 39, 'x': 0.5, 'y': 0.5, 'rx': 8}, 'Network Service Consulting', '/network-service')
       +menuItem('circle', {'cx': 20, 'cy': 20, 'r': 19}, 'Miscellaneous', '/miscellaneous')
       +menuItem('polygon', {'points': '20.5 0 40 39 1 39'}, 'Dorry Platform', '/dorry-platform')
         

