include ../_mixins

.title-wrapper
  .title Technical Tutorial
  .desc We provide both cutting-edge and fundamental technical tutorial, such as networking, virtualization. 

.card-wrapper
  +NSProjectCard('tcpip-volume1-practice', 'TCP/IP protocol tutorial by practice', 'https://github.com/HengShunXiangCu/tcpip-volume1-practice', 'https://legacy.gitbook.com/book/matchbox/practice-on-tcp-ip-vol-1/welcome')
  +NSProjectCard('rpi-x86-build-example', 'Build a rpi docker image on x86', 'https://github.com/HengShunXiangCu/rpi-x86-build-example')

