include ../_mixins

.title-wrapper
  .title Tool Suite 
  .desc We provide well designed framework for IT administrator as Swiss Army knife to build their own services. 

.sm-card-wrapper(class="mdc-layout-grid")
  .mdc-layout-grid__inner
    +MiscellaneousItem('ssh-rpc-agent', 'RPC client for interacting with multiple remote machines at the same time', 'https://github.com/FuQiFeiPian/ssh-rpc-agent')
    +MiscellaneousItem('promptcli', 'Customize your cli prompt into any type', 'https://github.com/FuQiFeiPian/promptcli')
    +MiscellaneousItem('config-ubuntu-server', 'Set basic configuration of vps remotely, eg, add user, set hostname, set time zone', 'https://github.com/FuQiFeiPian/config-ubuntu-server')
    +MiscellaneousItem('sshkey-manager', 'Generate, deploy, store and share ssh key with team members', 'https://github.com/FuQiFeiPian/sshkey-manager')
    +MiscellaneousItem('log-generator', 'Generate logs according to the program and filter defined and chosen', 'https://github.com/FuQiFeiPian/log-generator')
    +MiscellaneousItem('holographics', 'Generate holographics video', 'https://github.com/FuQiFeiPian/holographics')
    +MiscellaneousItem('business-card', 'Customize your own business card', 'https://github.com/FuQiFeiPian/business-card')
    +MiscellaneousItem('community-doc-template', 'Documentation template for open source community', 'https://github.com/FuQiFeiPian/community-doc-template')


