doctype html
html
  head
    include ../parts/head.pug

    title Network Service Consulting

  body
    include ../parts/header-bar.pug

    .body-wrapper
      include ../parts/side-bar.pug

      .page-content
        if contentTag == 'networkserviceconsulting'
          include ../parts/networkserviceconsulting
        else if contentTag == 'miscellaneous'
          include ../parts/miscellaneous
        else if contentTag == 'scrumtraining'
          include ../parts/scrumtraining
        else if contentTag == 'dorryplatform'
          include ../parts/dorryplatform
        else if contentTag == 'hiring'
          include ../parts/hiring
        
        include ../parts/footer-sub.pug



