doctype html
html
  head
    include ../parts/head.pug

    title Network Service Consulting

  body
    include ../parts/header-bar.pug

    .body-wrapper
      include ../parts/side-bar.pug

      if contentTag == 'networkservice'
        include ../parts/networkservice
      else if contentTag == 'miscellaneous'
        include ../parts/miscellaneous


    include ../parts/footer-back.pug

