doctype html
html
  head
    include ../parts/head.pug

    title Network Service Consulting

  body
    include ../parts/header-bar.pug

    .body-wrapper
      include ../parts/side-bar.pug

      .page-content
        if contentTag == 'networkservice'
          include ../parts/networkservice
        else if contentTag == 'applicationmarket'
          include ../parts/applicationmarket
        else if contentTag == 'toolsuite'
          include ../parts/toolsuite
        else if contentTag == 'technicaltutorial'
          include ../parts/technicaltutorial
        else if contentTag == 'hiring'
          include ../parts/hiring
        
        include ../parts/footer-sub.pug



